<div id="beefCarousel" class="food-carousel d-none">
    <div class="carousel-container d-flex flex-nowrap px-4 py-2" style="overflow-x: auto; scroll-behavior: smooth;">
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/beef/beefStew.jpg') }}" class="card-img-top" alt="Beef Stew">
            <div class="card-body text-center">
                <h5 class="card-title">Beef Stew</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/beef/beefTapa.png') }}" class="card-img-top" alt="Beef Tapa">
            <div class="card-body text-center">
                <h5 class="card-title">Beef Tapa</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/beef/beefSteak.png') }}" class="card-img-top" alt="Beef Steak">
            <div class="card-body text-center">
                <h5 class="card-title">Beef Steak</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/beef/beefKaldereta.jpg') }}" class="card-img-top"
                alt="Beef Caldereta">
            <div class="card-body text-center">
                <h5 class="card-title">Beef Caldereta</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/beef/beefKareKare.jpg') }}" class="card-img-top"
                alt="Beef Kare Kare">
            <div class="card-body text-center">
                <h5 class="card-title">Beef Kare Kare</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/beef/beefMechado.jpg') }}" class="card-img-top"
                alt="Beef Mechado">
            <div class="card-body text-center">
                <h5 class="card-title">Beef Mechado</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/beef/beefBulalo.jpg') }}" class="card-img-top" alt="Beef Bulalo">
            <div class="card-body text-center">
                <h5 class="card-title">Beef Bulalo</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/beef/beefRendang.jpg') }}" class="card-img-top"
                alt="Beef Rendang">
            <div class="card-body text-center">
                <h5 class="card-title">Beef Rendang</h5>
            </div>
        </div>
    </div>
</div>

<div id="chickenCarousel" class="food-carousel d-none">
    <div class="carousel-container d-flex flex-nowrap px-4 py-2" style="overflow-x: auto; scroll-behavior: smooth;">
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/chicken/friedChicken.jpg') }}" class="card-img-top"
                alt="Fried Chicken">
            <div class="card-body text-center">
                <h5 class="card-title">Fried Chicken</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/chicken/chickenCurry.jpg') }}" class="card-img-top"
                alt="Chicken Curry">
            <div class="card-body text-center">
                <h5 class="card-title">Chicken Curry</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/chicken/chickenAdobo.jpg') }}" class="card-img-top"
                alt="Chicken Adobo">
            <div class="card-body text-center">
                <h5 class="card-title">Chicken Adobo</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/chicken/chickenTinola.jpg') }}" class="card-img-top"
                alt="Chicken Tinola">
            <div class="card-body text-center">
                <h5 class="card-title">Chicken Tinola</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/chicken/chickenInasal.jpg') }}" class="card-img-top"
                alt="Chicken Inasal">
            <div class="card-body text-center">
                <h5 class="card-title">Chicken Inasal</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/chicken/chickenTeriyaki.jpg') }}" class="card-img-top"
                alt="Chicken Teriyaki">
            <div class="card-body text-center">
                <h5 class="card-title">Chicken Teriyaki</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/chicken/chickenBBQ.jpg') }}" class="card-img-top" alt="Chicken BBQ">
            <div class="card-body text-center">
                <h5 class="card-title">Chicken BBQ</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/chicken/chickenSinigang.jpg') }}" class="card-img-top"
                alt="Chicken Sinigang">
            <div class="card-body text-center">
                <h5 class="card-title">Chicken Sinigang</h5>
            </div>
        </div>
    </div>
</div>

<div id="porkCarousel" class="food-carousel d-none">
    <div class="carousel-container d-flex flex-nowrap px-4 py-2" style="overflow-x: auto; scroll-behavior: smooth;">
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/pork/porkAdobo.jpg') }}" class="card-img-top" alt="Pork Adobo">
            <div class="card-body text-center">
                <h5 class="card-title">Pork Adobo</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/pork/porkSinigang.jpg') }}" class="card-img-top"
                alt="Pork Sinigang">
            <div class="card-body text-center">
                <h5 class="card-title">Pork Sinigang</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/pork/porkMenudo.jpg') }}" class="card-img-top" alt="Pork Menudo">
            <div class="card-body text-center">
                <h5 class="card-title">Pork Menudo</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/pork/porkSisig.jpg') }}" class="card-img-top" alt="Pork Sisig">
            <div class="card-body text-center">
                <h5 class="card-title">Pork Sisig</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/pork/porkBinagoongan.jpg') }}" class="card-img-top"
                alt="Pork Binagoongan">
            <div class="card-body text-center">
                <h5 class="card-title">Pork Binagoongan</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/pork/porkHumba.jpg') }}" class="card-img-top" alt="Pork Humba">
            <div class="card-body text-center">
                <h5 class="card-title">Pork Humba</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/pork/porkLechonKawali.jpg') }}" class="card-img-top"
                alt="Pork Lechon Kawali">
            <div class="card-body text-center">
                <h5 class="card-title">Pork Lechon Kawali</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width: 14rem;">
            <img src="{{ url_for('static', filename='image/pork/porkBBQ.jpg') }}" class="card-img-top" alt="Pork BBQ">
            <div class="card-body text-center">
                <h5 class="card-title">Pork BBQ</h5>
            </div>
        </div>
    </div>
</div>

<div id="seafoodCarousel" class="food-carousel d-none">
    <div class="carousel-container d-flex flex-nowrap px-4 py-2" style="overflow-x:auto;scroll-behavior:smooth;">
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/seafoods/grilledShrimp.jpg') }}" class="card-img-top"
                alt="Grilled Shrimp">
            <div class="card-body text-center">
                <h5 class="card-title">Grilled Shrimp</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/seafoods/garlicButterCrab.jpg') }}" class="card-img-top"
                alt="Garlic Butter Crab">
            <div class="card-body text-center">
                <h5 class="card-title">Garlic Butter Crab</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/seafoods/friedTilapia.jpg') }}" class="card-img-top"
                alt="Fried Tilapia">
            <div class="card-body text-center">
                <h5 class="card-title">Fried Tilapia</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/seafoods/sinigangHipon.jpg') }}" class="card-img-top"
                alt="Sinigang na Hipon">
            <div class="card-body text-center">
                <h5 class="card-title">Sinigang na Hipon</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/seafoods/sweetSourFishFillet.jpg') }}" class="card-img-top"
                alt="Sweet and Sour Fish">
            <div class="card-body text-center">
                <h5 class="card-title">Sweet & Sour Fish</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/seafoods/calamares.jpg') }}" class="card-img-top" alt="Calamares">
            <div class="card-body text-center">
                <h5 class="card-title">Calamares</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/seafoods/bakedTahong.jpg') }}" class="card-img-top"
                alt="Baked Tahong">
            <div class="card-body text-center">
                <h5 class="card-title">Baked Tahong</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/seafoods/squidAdobo.jpg') }}" class="card-img-top" alt="Squid Adobo">
            <div class="card-body text-center">
                <h5 class="card-title">Squid Adobo</h5>
            </div>
        </div>
    </div>
</div>

<div id="pastaCarousel" class="food-carousel d-none">
    <div class="carousel-container d-flex flex-nowrap px-4 py-2" style="overflow-x:auto;scroll-behavior:smooth;">
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/pasta/spaghetti.jpg') }}" class="card-img-top"
                alt="Spaghetti Bolognese">
            <div class="card-body text-center">
                <h5 class="card-title">Spaghetti</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/pasta/carbonara.jpg') }}" class="card-img-top" alt="Carbonara">
            <div class="card-body text-center">
                <h5 class="card-title">Carbonara</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/pasta/pestoPasta.jpg') }}" class="card-img-top" alt="Pesto Pasta">
            <div class="card-body text-center">
                <h5 class="card-title">Pesto Pasta</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/pasta/lasagna.jpg') }}" class="card-img-top" alt="Lasagna">
            <div class="card-body text-center">
                <h5 class="card-title">Lasagna</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/pasta/tunaPasta.jpg') }}" class="card-img-top" alt="Tuna Pasta">
            <div class="card-body text-center">
                <h5 class="card-title">Tuna Pasta</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/pasta/bakedMac.jpg') }}" class="card-img-top" alt="Baked Mac">
            <div class="card-body text-center">
                <h5 class="card-title">Baked Mac</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/pasta/seafoodPasta.jpg') }}" class="card-img-top"
                alt="Seafood Pasta">
            <div class="card-body text-center">
                <h5 class="card-title">Seafood Pasta</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/pasta/trufflePasta.jpg') }}" class="card-img-top"
                alt="Truffle Pasta">
            <div class="card-body text-center">
                <h5 class="card-title">Truffle Pasta</h5>
            </div>
        </div>
    </div>
</div>

<div id="dessertCarousel" class="food-carousel d-none">
    <div class="carousel-container d-flex flex-nowrap px-4 py-2" style="overflow-x:auto;scroll-behavior:smooth;">
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/dessert/lecheFlan.jpg') }}" class="card-img-top" alt="Leche Flan">
            <div class="card-body text-center">
                <h5 class="card-title">Leche Flan</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/dessert/haloHalo.jpg') }}" class="card-img-top" alt="Halo-Halo">
            <div class="card-body text-center">
                <h5 class="card-title">Halo-Halo</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/dessert/mangoFloat.jpg') }}" class="card-img-top" alt="Mango Float">
            <div class="card-body text-center">
                <h5 class="card-title">Mango Float</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/dessert/bukoPandan.jpg') }}" class="card-img-top" alt="Buko Pandan">
            <div class="card-body text-center">
                <h5 class="card-title">Buko Pandan</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/dessert/brownies.jpg') }}" class="card-img-top" alt="Brownies">
            <div class="card-body text-center">
                <h5 class="card-title">Brownies</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/dessert/cassavaCake.jpg') }}" class="card-img-top"
                alt="Cassava Cake">
            <div class="card-body text-center">
                <h5 class="card-title">Cassava Cake</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/dessert/ubeHalaya.jpg') }}" class="card-img-top" alt="Ube Halaya">
            <div class="card-body text-center">
                <h5 class="card-title">Ube Halaya</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/dessert/majaBlanca.jpg') }}" class="card-img-top" alt="Maja Blanca">
            <div class="card-body text-center">
                <h5 class="card-title">Maja Blanca</h5>
            </div>
        </div>
    </div>
</div>

<div id="otherCarousel" class="food-carousel d-none">
    <div class="carousel-container d-flex flex-nowrap px-4 py-2" style="overflow-x:auto;scroll-behavior:smooth;">
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/others/vegetablesSalad.jpg') }}" class="card-img-top"
                alt="Vegetable Salad">
            <div class="card-body text-center">
                <h5 class="card-title">Vegetable Salad</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/others/friedRice.jpg') }}" class="card-img-top" alt="Fried Rice">
            <div class="card-body text-center">
                <h5 class="card-title">Fried Rice</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/others/lumpiangShanghai.jpg') }}" class="card-img-top"
                alt="Lumpiang Shanghai">
            <div class="card-body text-center">
                <h5 class="card-title">Lumpiang Shanghai</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/others/tortangTalong.jpg') }}" class="card-img-top"
                alt="Tortang Talong">
            <div class="card-body text-center">
                <h5 class="card-title">Tortang Talong</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/others/pinakbet.jpg') }}" class="card-img-top" alt="Pinakbet">
            <div class="card-body text-center">
                <h5 class="card-title">Pinakbet</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/others/chopSuey.jpg') }}" class="card-img-top" alt="Chop Suey">
            <div class="card-body text-center">
                <h5 class="card-title">Chop Suey</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/others/omelette.jpg') }}" class="card-img-top" alt="Omelette">
            <div class="card-body text-center">
                <h5 class="card-title">Omelette</h5>
            </div>
        </div>
        <div class="card mx-2 flex-shrink-0" style="width:14rem;">
            <img src="{{ url_for('static', filename='image/others/frenchFries.jpg') }}" class="card-img-top"
                alt="French Fries">
            <div class="card-body text-center">
                <h5 class="card-title">French Fries</h5>
            </div>
        </div>
    </div>
</div>